<div class="pure-g">
  <div class="pure-u-2-24"></div>
    <div class="l-box-lrg pure-u-20-24 ">
      <h2>Search properties</h2>

      <form class="pure-form" action="/" method="post">
        <fieldset>
          <label for="location">
            Location: <input type="text" name="location" required>
          </label>
          <label for="min-price">
            Minimum price: <input type="text" name="min_price" >
          </label>
          <label for="max-price">
            Maximum price: <input type="text" name="max_price">
          </label>
          <label for="beds">
            Number of beds: <input type="text" name="beds" >
          </label>
          <button type="submit" class="pure-button" value="search">Search</button>
        </fieldset>
      </form>
      
    </div>
    <div class="pure-u-2-24"></div>
</div>
